@import "tailwindcss";

html { scroll-behavior: smooth; }

@theme {
  
  --font-sora: "Sora", sans-serif;
  --font-space: "Space Grotesk", sans-serif;

  --color-primary: #ff4158;
  --color-secondary: #b380db;
  --color-tertiary: #8d4bfa;
  --color-quaternary: #400a81;
  --color-quinary: #240144;
  --color-accent: #ffdca7;
  --color-light: #f2ecfe;
  --color-dark: #302543;
  --color-muted: #edf1f8;

}

@layer base {
  body{
    color: var(--color-dark);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sora);
  }
  p {
    font-family: var(--font-space);
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 300;
  }
  button {
    font-family: var(--font-sora);
  }
  strong {
    font-weight: 600;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}


