@import "tailwindcss";

html { scroll-behavior: smooth; }

@theme {
  
  --font-sora: "Sora", sans-serif;
  --font-space: "Space Grotesk", sans-serif;

  --color-primary: #ff4158;
  --color-secondary: #b380db;
  --color-light: #e9ebf7;
  --color-dark: #302543;
  --color-muted: #9f9f9f;

}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sora);
  }
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
  p {
    font-family: var(--font-space);
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 300;
  }
  button {
    font-family: var(--font-sora);
  }
}


